html {
  height: 100%;
  margin: 0;
}

.form-container {
  margin: 25px auto;
  width: 45%;
}

.index-body {
  display: flex;
  flex-wrap: wrap;
  border: #999;
  border: 1px solid rgba(0, 0 , 0, 0.2);
  border-radius: 10px;
  margin-top: 40px;
  padding: 0;
}

.index-body a {
  color: black;
}

.index-body a:hover {
  color: #000;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.index-image {
  width: 100%;
}

#index-image {
  margin-right: 15px;
  width: 30%;
}

.index-description {
  margin-left: 5px;
}

.show-title {
  margin: 5vh auto;
  text-align: center;
}

.show-image {
  height: 30%;
  width: 100%;
}

.desc-title {
  margin-top: 2%;
  margin-bottom: 3%;
}

#delete {
  display: inline;
}

.edit-delete {
  margin: 20px 0;
}


/*MEDIA QUERIES*/
@media(max-width: 1199px) {
 .index-image {
    margin: 0;
    width: 100%;
  }

  #index-image {
    margin: 0;
    width: 100%;
  }

}@media(max-width: 576px) {
  .index-image {
    margin: 0;
    width: 100%;
  }

  #index-image {
    margin: 0;
    width: 100%;
  }
}