<% include ../partials/header %>

<div class="container">
  <div class="display-4 show-title"><%= blog.title %></div>
  <div class="container show-container">
    <img class="image-fluid show-image" src="<%= blog.image %>" alt="Blog Picture">
  </div>
</div>


<% include ../partials/footer %>
